.imgfon{background-image: url(https://gamebomb.ru/files/galleries/001/d/d4/335296.jpg);
    background-size: cover;
width: 100%;}
.ht{text-align: center;
 color: aqua;
 
 }
 .pt{ text-align: center;
color: rgb(60, 245, 9); width: 1000px;
margin-left: 240px;
font-size:  220%;
}
.interwal{margin: 10px;
font-size: 30px;
}