.slider {
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: aqua;
}
.img-car {
    width: 100%;
    height: 500px;

}

text{
    text-align: center;
}
.slider-img {
    position: absolute;
    width: 100%;
    height: 500px;
    transition: all 0.5s;
    background-color: antiquewhite;
}
 
.slider-img-prev {
    transform: translateX(-100%);
}
 
.slider-img-next {
    transform: translateX(100%);
}